<html>
    <head>
        {% if title %}
        <title>{{ title }} - Word Count Application</title>
        {% else %}
        <title> Welcome to the word count application! </title>
        {% endif %}
    </head>
    <body>
        <div> Word Count Application: <a href='/index'>Home</a> <a href='/count'>Word Count</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>